.properties-controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 4;
    font-size: 12px;
}

.properties-controls label {
    display: block;
}

.properties-label {
    margin-top: 10px;
}

.reactflow-wrapper {
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.reactflow-wrapper aside {
    position: absolute;
    padding: 15px 10px;
    font-size: 12px;
    z-index: 4;
}

.reactflow-wrapper aside .description {
    margin-bottom: 10px;
}

.reactflow-wrapper .action_button {
    height: 20px;
    padding: 4px;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.reactflow-wrapper .action_button.debug {
    border-color: #0041d0;
}

.reactflow-wrapper .action_button.delete {
    border-color: #ff0072;
}

/*.reactflow-wrapper {*/
/*    flex-grow: 1;*/
/*    height: 100%;*/
/*}*/

.reactflow-wrapper .selectall {
    margin-top: 10px;
}

@media screen and (min-width: 768px) {
    .reactflow-wrapper {
        flex-direction: row;
    }

    .reactflow-wrapper aside {
        width: 20%;
        max-width: 250px;
    }
}