@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reactflow-wrapper .action_button {
  @apply p-1 border border-solid border-white mb-4 flex justify-center items-center cursor-pointer;
}

.delete {
  @apply border-delete !important;
}

.debug {
  @apply border-debug !important;
}